* { 
  box-sizing: border-box; 
}
body {
  background-color: #ffffff;
  color: #2b2b2b;
  font-family: Helvetica;
}
#wrapper {
  background-color: #6623da;
  background-image: linear-gradient(to bottom, #FFFFFF, #ffffff);
}
#homehero {
  height: 300px;
  background-image: url(homepagefood.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
header {
  background-color: #ffffff;
  color: #292929;
  text-align: center;
}
header a {
  text-decoration: none;
}
header a:link {
  color: #292929;
}
header a:visited {
  color: #333333;
}
header a:hover {
  color: #666666;
}
nav {
  font-weight: bold;
  padding: 0;
  font-size: 120%;
  text-align: center;
}
h1 {
  margin-top: 0; 
  margin-bottom: 0;
  letter-spacing: .25em;
  font-family: Georgia;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
main {
  background-color: #FFFFFF;
  padding-top: 1px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  display: block;
  overflow: auto;
}
nav ul {
  list-style-type: none;
  list-style-image: none;
  margin: 0;
  padding-left: 0;
  font-size: 1.2em;
}
nav a {
  text-decoration: none;
}
nav a:link {
  color: #aa83db;
}
nav a:visited {
  color: #1b1b1b;
}
nav a:hover {
  color: #6200ff;
}
nav li {
  border-bottom: 1px solid rgb(57, 57, 57);
}
h2 {color: #333333; font-family: Georgia; text-shadow: 1px 1px 0 #CCCCCC}
dt {color: #002171;}
h3 {color: #333333;
  font-family: Georgia;}
dt {color: #5300ac;}
#contact { font-size: 90%; }

ul.centered-list {
  text-align: left;
  list-style-position: inside;
}

ol.centered-list {
  text-align: left;
}

.centered-section {
  max-width: 600px;
  margin: 0 auto;
  text-align: left;
}

footer {
  font-size: 75%;
  font-style: italic;
  text-align: center;
  font-family: Georgia;
  padding: 2em;
}

table {
  border: 2px solid #3399CC;
  border-collapse: collapse;
  margin: 0 auto;
}

td, th {
  padding: 0.5em;
  border: 2px solid #3399CC;
}

td {
  text-align: center;
}

.text {
  text-align: left;
}

tr:nth-of-type(odd) {
  background-color: #F5FAFC;
}

form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

input, textarea {
  margin-bottom: 0.5em;
}

@media (max-width: 767px) {
  #wrapper {
    width: 100%;
    min-width: 0;
    margin: 0;
    box-shadow: none;
  }
  
  header {
    padding-left: 0;
    text-align: center;
  }
  
  h1 {
    font-size: 2em;
    letter-spacing: 0.1em;
  }
  
  nav {
    float: none;
    width: 100%;
    padding: 0;
    text-align: center;
  }
  
  nav ul {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
  
  nav li {
    border-bottom: 1px solid #85318d;
    width: 100%;
  }
  
  nav li:last-child {
    border-bottom: none;
  }
  
  nav a {
    display: block;
    padding: 1em;
    text-decoration: none;
    background-color: #EAEAEA;
  }
  
  nav a:hover {
    background-color: #90C7E3;
  }
  
  main {
    margin-left: 0;
    padding: 1em;
  }
  
  #homehero, #yurthero, #trailhero {
    margin-left: 0;
    height: 200px;
  }
  
  section {
    float: none;
    width: 100%;
    padding: 1em 0;
  }
  
  #contact {
    font-size: 100%;
  }
}

@media (min-width: 600px) {
  nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
  }
  nav li {
    border-bottom: none;
  }
  .flow {
    display: flex;
    flex-direction: row;
  }
  section {
    flex: 1;
  }
  footer {
    background-color: #FFFFFF;
  }
  input[type="submit"] {
    align-self: flex-end;
    margin-left: auto;
  }
}

@media (min-width: 1024px) {
  #wrapper {
    margin: auto;
    width: 80%;
    border: 1px solid #000033;
    box-shadow: 3px 3px 0 0 #000033;
  }
  nav {
    text-align: center;
    padding: 1em;
    background-color: #b051e3;
    background-image: linear-gradient(to bottom, #FFFFFF, #ca9fe0);
  }
  @supports (display: grid) {
    nav ul {
      flex-direction: row;
      padding: 0;
      justify-content: center;
      gap: 2em;
    }
    header {
      grid-area: header;
    }
    nav {
      grid-area: nav;
    }
    main {
      grid-area: main;
    }
    footer {
      grid-area: footer;
    }
    .hero {
      grid-area: hero;
    }
    #wrapper {
      display: grid;
      grid-template: 
        "header" auto
        "nav" auto
        "hero" 300px  
        "main" 1fr
        "footer" auto
        / 1fr;
    }
    
    #wrapper:not(:has(.hero)) {
      grid-template: 
        "header" auto
        "nav" auto
        "main" 1fr
        "footer" auto
        / 1fr;
    }
    
    form {
      width: 60%;
      max-width: 30em;
      margin: 0 auto;
      display: grid;
      grid-gap: 1em;
      grid-template-columns: 6em 1fr;
    }
    
    main h2,
    main h3,
    main p {
      text-align: center;
    }
    
    input[type="submit"] {
      grid-column: 2;
      width: 9em;
      justify-self: end;
    }
  }
}